<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom' xmlns:apps='http://schemas.google.com/apps/2006'>
    <title>Mail Filters (Blackhole)</title>
    <id>tag:mail.google.com,2008:filters:1297349082768</id>
    <updated>2013-02-04T15:50:38Z</updated>

    {% for filter in filters -%}
        <entry>
            <category term='filter'></category>
            <title>Mail Filter</title>
            <content></content>
            <apps:property name='shouldArchive' value='{{ filter.isArchive|boolean_string }}'/>
            <apps:property name='shouldNeverSpam' value='{{ filter.isNeverSpam|boolean_string }}'/>
            <apps:property name='shouldTrash' value='{{ filter.isTrash|boolean_string }}'/>
            {% for condition in filter.conditions -%}
                <apps:property name='{{ condition[0] }}' value='{{ condition[1] }}'/>
            {%- endfor %}
            {%- for label in filter.labels %}
                <apps:property name='label' value='{{ label }}'/>
            {% endfor %}
        </entry>
    {% endfor %}
</feed>
